body {
  width: 100%;
  height: 100%;
  margin: 0; /* Asegúrate de resetear cualquier margen predeterminado */
  padding: 0; /* Opcional: quitar el padding si quieres que el color cubra toda la página sin espacios */
  background-color: #0c173e; /* Tu color de fondo deseado */
  color: white;
  display: flex;
  justify-content: center;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
